.main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 0 0 2rem;
  border-bottom: 1px dotted white;
}

.sectionTitle {
  margin: 1rem;

  & a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;;
    }
  }
}