@use "sass:math";
@use "sass:string";
@use "variables";

@mixin rainbow-border($border-width) {
  border-image: linear-gradient(
      135deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    10;
  border-width: $border-width;
  border-style: solid;
}

@mixin dotted-underline($size, $width: auto) {
  border-bottom: $size dotted yellow;
  width: $width;
}
