@use "mixins";
@use "text";

.last-made {
  @include text.monospace();
  background-color: purple;
  color: white;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  padding: 0.3rem;
  text-transform: uppercase;
  box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.5);
}

p.recipe-source {
  @include text.monospace();
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
}

.content {
  h4 {
    @include mixins.dotted-underline(2px);
    padding-bottom: 0.25rem;
  }

  strong {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px dotted yellow;
    padding: 0.2rem;
    font-weight: normal;
  }

  ol {
    padding-left: 3rem;
    list-style: none;
    counter-reset: item;

    .list-item-wrapper {
      position: relative;
      counter-increment: item;

      &::before {
        @include text.monospace();
        content: counter(item);
        background: yellow;
        border-radius: 100%;
        color: black;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -1.75rem;
        font-weight: 500;
      }

      &:has(input:checked)::before {
        background-color: white;
        opacity: 0.5;
      }
    }

    input[type="checkbox"] {
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 0.25rem;
      left: -3rem;

      &:checked + li {
        text-decoration: line-through 2px black solid;
        opacity: 0.5;
      }
    }
  }
}
