@use "mixins";
@use "text";

.last-made {
  @include text.monospace();
  background-color: purple;
  color: white;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  padding: 0.3rem;
  text-transform: uppercase;
  box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.5);
}

p.recipe-source {
  @include text.monospace();
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
}

.content {
  & h4 {
    @include mixins.dotted-underline(2px);
    padding-bottom: 0.25rem;
  }
  & strong {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px dotted yellow;
    padding: 0.2rem;
    font-weight: normal;
  }
}
