@use "../default/mixins";
@use "../default/variables";

html {
  @include mixins.rainbow-border(5px);
  background-color: black;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 750px;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
}

#stars1 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(1px, mixins.multiple-box-shadow(700), 50s);
  }
}

#stars2 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(2px, mixins.multiple-box-shadow(200), 100s);
  }
}

#stars3 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(3px, mixins.multiple-box-shadow(100), 150s);
  }
}

a,
a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
}

.content {
  font-family: var(--font-atkinson-hyperlegible-next);
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  max-width: 750px;
  width: 100%;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 750px;
  width: 100%;

  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  a,
  a:hover,
  a:visited {
    color: white;
    text-decoration: none;
  }
}

.scribble-button {
  aspect-ratio: 88/31;
  border: 5px outset black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  overflow: hidden;

  &:hover {
    border: 5px inset black;
    background-color: black;
    color: unset;
    cursor: pointer;

    & .scribble-highlight {
      clip-path: rect(auto auto auto auto);
    }
  }
}

.scribble-highlight {
  font-family: var(--font-redacted-script);
  font-weight: 700;
  font-size: 4.5rem;
  clip-path: rect(auto 0 auto 0);
  color: yellow;
  left: 0;
  position: absolute;
  overflow: hidden;
  text-align: center;
  text-shadow: 1px 1px 1px yellow, -1px -1px 2px yellow;
  transition: clip-path 500ms;
  white-space: nowrap;
  width: 100%;

  @media screen and (max-width: 600px) {
    font-size: 4rem;
  }
}

.scribble-text {
  color: white;
  font-weight: bold;
  font-family: caveat;
  font-size: 2rem;
  mix-blend-mode: difference;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 2rem;
  }
}
