@use "mixins";

html {
  display: flex;
  height: 100vh;
  max-height: 100vh;
}

body {
  background-color: black;
  background: url("/images/zelda/pad-background.jpg") repeat;
  color: #76b6ff;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: 100%, 100%;
  font-family: var(--fot-rodin-pro-db);
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #76b6ff;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

h1 {
  font-weight: 100;
  font-size: 2rem;
  text-transform: capitalize;

  &.hylia-serif {
    font-family: var(--hylia-serif), Georgia, serif;
  }
  &.hylian {
    font-family: var(--hylian-regular), Georgia, serif;
  }
  &.sheikah {
    font-family: var(--sheikah), Georgia, serif;
  }
  &.sheikah-bold {
    font-family: var(--sheikah), Georgia, serif;
    font-weight: bold;
  }
}

h2 {
  font-family: var(--hylia-serif), Georgia, serif;
  text-transform: capitalize;
  font-weight: normal;
}

.border-top {
  @include mixins.white-to-blue;
  @include mixins.border;
  top: 0;
  transform: rotate(180deg);
}

.border-bottom {
  @include mixins.white-to-blue;
  @include mixins.border;
  bottom: 0;
}

nav {
  @include mixins.text-background;
  padding: 1rem 2rem;
  text-align: center;
  height: 4rem;
  // width: 100%;

  & > ul {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;

    a {
      @include mixins.sheikah_underline(0.5rem);
      color: white;
      margin: 0 0.5rem;
      padding: 0.5rem 0;
      text-decoration: none;
    }
  }
}

.content {
  flex: 2;
  display: flex;
  max-width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.splitter {
  @include mixins.white-to-blue;
  max-width: 100%;
  height: auto;
}

.game-links {
  align-self: stretch;
  display: flex;
  justify-content: space-around;

  a {
    color: white;
    margin-bottom: 0;
    text-decoration: none;

    &:hover {
      color: #76b6ff;
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
