@use "mixins";

html {
  display: flex;
  min-height: 100svh;
  flex-direction: column;
}

body {
  background-color: black;
  background: url("/images/zelda/pad-background.jpg") repeat;
  color: #76b6ff;
  min-height: 100svh;
  box-sizing: border-box;
  background-size: 100%, 100%;
  font-family: var(--fot-rodin-pro-db);
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

a,
a:visited {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

a:hover {
  color: #76b6ff;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
}

h1 {
  font-weight: 100;
  font-size: 2rem;
  text-transform: capitalize;

  &.hylia-serif {
    font-family: var(--hylia-serif), Georgia, serif;
  }
  &.hylian {
    font-family: var(--hylian-regular), Georgia, serif;
  }
  &.sheikah {
    font-family: var(--sheikah), Georgia, serif;
  }
  &.sheikah-bold {
    font-family: var(--sheikah), Georgia, serif;
    font-weight: bold;
  }
}

h2 {
  font-family: var(--hylia-serif), Georgia, serif;
  text-transform: capitalize;
  font-weight: normal;
}

.border-top {
  @include mixins.white-to-blue;
  @include mixins.border;
  top: 0;
  transform: rotate(180deg);
}

.border-bottom {
  @include mixins.white-to-blue;
  @include mixins.border;
  bottom: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 1rem 1rem;
  gap: 1rem;
  text-align: center;
}

.content {
  flex: 2;
  display: flex;
  max-width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.splitter {
  @include mixins.white-to-blue;
  max-width: 100%;
  height: auto;
}

.game-links {
  align-self: stretch;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

.album-links {
  list-style-type: none;
  padding: 0;
}

.album-link {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-left: 2.5rem;
}

.breadcrumbs-container {
  display: flex;
  height: 5rem;
}

.breadcrumbs {
  @include mixins.text-background;
  align-items: center;
  font-family: var(--font-seurat);
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
  margin: auto;
  flex-wrap: wrap;

  & a,
  & span {
    font-size: 0.9rem;
    flex-grow: 0;
  }

  & h2 {
    font-size: 1.5rem;
  }
}

.image-details-container {
  height: 5rem;
  display: flex;
}

.image-details {
  @include mixins.text-background;
  align-items: center;
  font-family: var(--font-seurat);
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
  margin: auto;
  flex-wrap: wrap;
  flex-grow: 0;

  & .compendium-number {
    font-family: var(--hylia-serif);
    font-size: 1.5rem;
  }
}
