@use "mixins";

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 1rem 1rem;
  gap: 1rem;
  text-align: center;
}

nav {
  @include mixins.text-background;
  padding: 1rem 2rem;
  text-align: center;
  height: 4rem;
  // width: 100%;

  & > ul {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
  }
}
