@use "variables";

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100svh;
  font-weight: 300;
  flex-direction: column;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 1rem 1rem;
  flex-wrap: wrap;

  // optional bottom dotted border for the breadcrumbs,
  // when the header isn't being shown.
  &.dotted-border {
    border-bottom: 1px dotted black;
    padding: 0.5rem 0;
  }

  & > a,
  & > span {
    margin-top: 10px;
    font-weight: 300;
  }
}

.page-description {
  text-align: center;
  margin-bottom: 1rem;
}

button {
  background-color: white;
  border: 3px outset black;
  padding: 0.5rem;

  &:hover {
    // overwriting maplibre
    background-color: black !important;
    color: white;
    border: 3px inset white;
  }
}

/****************/
/***** MAP ***** /
/****************/
.style-switcher {
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
}

.maplibregl-map {
  flex: 2;
}
