@use "variables";

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100svh;
  font-weight: 300;
  flex-direction: column;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#photography-header {
  align-items: center;
  border-bottom: 1px dotted black;
  display: flex;
  margin: 0.5rem;

  @media screen and (max-width: variables.$mobile-breakpoint) {
    flex-direction: column;
    gap: 0.25rem;
  }

  &.with-nav {
    justify-content: space-between;

    @media screen and (max-width: variables.$mobile-breakpoint) {
      gap: 0;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .right-element {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}

#photography-main {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 1rem;

  .page-description {
    text-align: center;
  }
}

button {
  background-color: white;
  border: 3px outset black;
  padding: 0.5rem;

  &:hover {
    // overwriting maplibre
    background-color: black !important;
    color: white;
    border: 3px inset white;
  }
}

/****************/
/***** MAP ***** /
/****************/
.style-switcher {
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
}

.maplibregl-map {
  flex: 2;
}
