@use "variables";
@use "sass:math";

@mixin grid($columns, $gap) {
  $columnWidth: calc((100% / $columns) - ($gap / $columns));
  display: grid;
  grid-template-columns: repeat($columns, $columnWidth);
  gap: $gap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

section.photos {
}

.grid {
  @include grid(2, 1rem);
  margin: 3rem;

  @media screen and (max-width: 650px) {
    @include grid(1, 1rem);
    margin: 1rem;
  }
}

img.photo {
  max-height: 100%;
  height: auto;
  width: auto;
  max-width: 100%;
  margin: auto;
}
