#breadcrumbs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-self: center;
  margin: 0 auto;

  & > a,
  & > span {
    display: flex;
    margin-top: 10px;
    font-weight: 300;
  }
}
