.link-list {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: 200;
  gap: 1rem;
  list-style-type: none;
  padding: 2rem 0;
  flex-direction: column;
}

.link-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.link-description {
  font-size: 1rem;
  font-weight: 300;
}
