.masonry {
  display: none;
  gap: 1rem;

  &.cols-3 {
    display: flex;
  }

  @media screen and (max-width: 750px) {
    &.cols-1,
    &.cols-3 {
      display: none;
    }

    &.cols-2 {
      display: flex;
    }
  }

  @media screen and (max-width: 500px) {
    &.cols-1 {
      display: flex;
    }

    &.cols-2,
    &.cols-3 {
      display: none;
    }
  }

  & > .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > .image {
      height: auto;
      object-fit: contain;
      width: 100%;
    }
  }
}
