#today {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;

  summary {
    background-color: white;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    position: sticky;
    text-align: center;
    top: calc(1.75rem * 1.5);
    z-index: 10;

    & > span {
      text-decoration: underline overline;
      text-decoration-style: wavy;
    }
  }
}
