@use "sass:string";
@use "puzzle";
@use "variables";

html {
  background-color: rgb(131, 181, 217);
}

/*
  x: displayed image height

  $banner-height     x
  -------------- = -----
  $banner-width    100vw

  x = calc((100vw * $banner-height) / $banner-width);
*/

@function background-images($number-of-images) {
  $value: "";

  @for $i from 0 through $number-of-images - 1 {
    $fileName: "#{$i + 1}";
    @if $i < 9 {
      $fileName: "0#{$i + 1}";
    }

    $top-position: calc(
      $i *
        (
          (100vw * variables.$vertical-banner-height) /
            variables.$vertical-banner-width
        )
    );

    @if ($i == 0) {
      $value: "url('/#{variables.$vertical-banner-file-path}/#{$fileName}.webp') top #{$top-position} left no-repeat";
    } @else {
      $value: "#{$value}, url('/#{variables.$vertical-banner-file-path}/#{$fileName}.webp') top #{$top-position} left no-repeat";
    }
  }

  @return string.unquote($value);
}

body {
  background: background-images(variables.$number-of-vertical-banners);
  background-size: contain;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: variables.$max-site-width;
  margin: 0 auto;
  padding: 1rem 1rem 0;
}

h1 {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  font-family: "Georgia", serif;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

div.debug {
  @include puzzle.puzzle-screen(20px, variables.$puzzle-border-color, blue);
  color: white;
  width: 100%;
}

section.debug {
  padding: 40px;
  text-shadow: white 0px 0 5px;
  width: 100%;
}
