.nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.link {
  margin: 0 1rem;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.active {
  text-decoration: none;
  font-weight: bold;
}