@use "./variables";

.nav-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
  gap: 1rem;

  @media screen and (max-width: variables.$mobile-breakpoint) {
    font-size: 1rem;
  }
}

.triangle {
  font-size: 1rem;
  opacity: 0;

  @media (hover: none) {
    display: none;
  }
}

li:hover > .triangle {
  opacity: 1;
}
