@use "./mixins";
@use "./variables";

html {
  @include mixins.crt-screen;
  background-color: black;
  color: white;
  display: flex;
  min-height: 100svh;
  background-attachment: fixed;
  text-shadow: white 0 0 3px;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;

  &::after {
    @include mixins.scan-lines;
    height: 100%;
    min-height: 100svh;
    width: 100vw;
  }
}

a {
  color: white;
  font-family: var(--font-atkinson-hyperlegible-mono);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;

  @media screen and (max-width: variables.$mobile-breakpoint) {
    padding: 1rem;
    gap: 1rem;
  }
}

h1 {
  @include mixins.eight-bit-border;
  color: white;
  font-family: var(--font-press-start-2p);
  padding: 1rem;
  text-align: center;

  @media screen and (max-width: variables.$mobile-breakpoint) {
    box-shadow: unset;
    padding: unset;
    font-size: 1rem;
  }
}

h2 {
  font-family: var(--font-atkinson-hyperlegible-mono);
  text-align: center;
  margin-bottom: 1rem;

  @media screen and (max-width: variables.$mobile-breakpoint) {
    font-size: 1.25rem;
  }
}
