@mixin grid($columns, $rowGap, $colGap: false) {
  @if $colGap == false {
    $colGap: $rowGap;
  }
  $columnWidth: calc(((100% - ($colGap * ($columns - 1))) / $columns));
  display: grid;
  grid-template-columns: repeat($columns, $columnWidth);
  gap: $rowGap $colGap;
  width: 100%;
}

#album-grid {
  flex: 2;

  .grid {
    list-style-type: none;
    flex: 2;

    &.max-cols-3 {
      @include grid(3, 2rem);
      padding: 2rem;

      @media screen and (max-width: 1000px) {
        @include grid(2, 2rem);
      }

      @media screen and (max-width: 650px) {
        @include grid(1, 2rem);
        padding: 1rem;
      }
    }
    &.max-cols-2 {
      @include grid(2, 2rem);
      padding: 1rem 3rem 3rem;

      @media screen and (max-width: 650px) {
        @include grid(1, 1rem);
        padding: 1rem;
      }
    }
    &.max-cols-1 {
      @include grid(1, 5rem);
      padding: 1rem 3rem 3rem;

      @media screen and (max-width: 650px) {
        @include grid(1, 5rem, 0px);
        padding: 1rem;
      }
    }
  }

  $hover-duration: 250ms;

  .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;

      &:hover {
        & > .image-title {
          text-decoration: none;
          background: repeating-linear-gradient(
            0deg,
            white 0px,
            white calc(0.33 * 30px),
            yellow calc(0.33 * 30px),
            yellow calc(0.66 * 30px),
            white calc(0.66 * 30px),
            white 30px
          );
        }

        & .image-overlay {
          opacity: 1;
          transition: opacity $hover-duration;
        }
      }
    }
  }

  .image-container {
    position: relative;
  }

  .album-grid-image {
    height: auto;
    width: 100%;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
  }

  .image-overlay {
    align-items: center;
    background-color: black;
    background-image: url("/images/photography/tv-static.webp");
    color: white;
    display: flex;
    font-size: 3.5rem;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    left: 50%;
    mix-blend-mode: multiply;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity $hover-duration;
    width: 100%;
  }

  .album-title {
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
  }
}
