@mixin grid($columns, $gap) {
  $columnWidth: calc((100% / $columns) - ($gap / $columns));
  display: grid;
  grid-template-columns: repeat($columns, $columnWidth);
  gap: $gap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image-grid {
  &.max-cols-2 {
    @include grid(2, 1rem);
    padding: 1rem 3rem 3rem;

    @media screen and (max-width: 650px) {
      @include grid(1, 1rem);
      padding: 1rem;
    }
  }
  &.max-cols-1 {
    @include grid(1, 5rem);
    padding: 1rem 3rem 3rem;

    @media screen and (max-width: 650px) {
      @include grid(1, 1rem);
      padding: 1rem;
    }
  }

  & img {
    max-height: 90vh;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: auto;
  }
}
