$medium-width: 600px;
$small-width: 400px;

.scribble-button {
  aspect-ratio: 88/31;
  border: 5px outset black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  overflow: hidden;

  &:hover {
    border: 5px inset black;
    background-color: black;
    color: unset;
    cursor: pointer;

    & .scribble-highlight {
      clip-path: rect(auto auto auto auto);
    }
  }
}

.scribble-highlight {
  font-family: var(--font-redacted-script);
  font-weight: 700;
  font-size: 4.5rem;
  clip-path: rect(auto 0 auto 0);
  color: yellow;
  left: 0;
  position: absolute;
  overflow: hidden;
  text-align: center;
  text-shadow: 1px 1px 1px yellow, -1px -1px 2px yellow;
  transition: clip-path 500ms;
  white-space: nowrap;
  width: 100%;

  @media screen and (max-width: $medium-width) {
    font-size: 4rem;
  }
}

.scribble-text {
  color: white;
  font-weight: bold;
  font-family: var(--font-caveat);
  font-size: 2rem;
  mix-blend-mode: difference;
  text-align: center;

  @media screen and (max-width: $medium-width) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: $small-width) {
    font-size: 2rem;
  }
}
