// photo borders
$border-width: 2%;

$photo-z-index: 0;

$ui-z-index: $photo-z-index + 2;
$inset-shadow-zindex: $photo-z-index + 1;
// $photo-z-index: 0;
$texture-z-index: $photo-z-index - 1;
$border-z-index: $photo-z-index - 2;

// screen width minus horizontal margins
$container-width: 100vw;
// horizontal distance of UI edges from edge of slideshow container
$ui-position-x: 0;
// vertical distance of UI edges from edge of slideshow container
$ui-position-y: 1rem;

// needed?
.container {
  max-width: 100vw;
  max-height: 100vw;
  position: relative;
}

.slides {
  display: grid;
  grid-auto-columns: $container-width;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  flex: 2;
  padding: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
}

.snap-point {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  scroll-snap-align: center;
  top: 0;
}

.swipe-to-view {
  display: none;
}
.scroll-to-view {
  display: block;
}

@media (hover: none) {
  .swipe-to-view {
    display: block;
  }
  .scroll-to-view {
    display: none;
  }
}

.image {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-grow: 2;
  margin: 1rem;
  position: relative;
}

.image-details-container {
  // height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem;
}

.image-title {
  font-size: 1.5rem;
  font-weight: 200;
}
