// photo borders
$border-width: 2%;

$photo-z-index: 0;

$ui-z-index: $photo-z-index + 2;
$inset-shadow-zindex: $photo-z-index + 1;
// $photo-z-index: 0;
$texture-z-index: $photo-z-index - 1;
$border-z-index: $photo-z-index - 2;

// screen width minus horizontal margins
$container-width: 100vw;
// horizontal distance of UI edges from edge of slideshow container
$ui-position-x: 0;
// vertical distance of UI edges from edge of slideshow container
$ui-position-y: 1rem;

#slideshow {
  &.slides {
    display: grid;
    grid-auto-columns: $container-width;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex: 2;
    padding: 0;
  }

  .slide {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: relative;

    &.info-slide {
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }

    &.title-card {
      align-items: center;
      justify-content: center;

      & h3 {
        font-size: 3rem;
        font-weight: 200;
      }
    }
  }

  .snap-point {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    scroll-snap-align: center;
    top: 0;
    z-index: -2;
  }

  .swipe-to-view {
    display: none;
  }
  .scroll-to-view {
    display: block;
  }

  @media (hover: none) {
    .swipe-to-view {
      display: block;
    }
    .scroll-to-view {
      display: none;
    }
  }

  // slide with a single image
  .single-image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 2;
    margin: 1rem;
    position: relative;
  }

  .single-image {
    align-self: center;
    justify-self: center;
    object-fit: contain;
    transition: filter 1s;
  }

  // shared properties for all image overlays
  .image-overlay {
    z-index: 20;

    a {
      color: white;

      &:hover {
        background: yellow;
        color: black;
        text-shadow: none;
      }
    }
  }
  // class added to an image when the overlay is visible.
  .overlay-visible {
    filter: blur(10px);
  }

  .single-image-overlay {
    align-items: center;
    color: white;
    display: flex;
    transition: opacity 1s;
    text-shadow: 1px 1px 2px black;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;
  }

  .image-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 1rem;
  }

  .image-title {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
  }
}
