@config "../../../config/tailwind.zelda.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .zelda-text-bg {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    border: 1px solid #141e5495;
    text-shadow:
      calc(-1 * var(--zeld-text-shadow-offset))
        calc(-1 * var(--zeld-text-shadow-offset))
        var(--zelda-text-shadow-blur-radius) theme("colors.zelda.textShadow"),
      var(--zeld-text-shadow-offset) calc(-1 * var(--zeld-text-shadow-offset))
        var(--zelda-text-shadow-blur-radius) theme("colors.zelda.textShadow"),
      calc(-1 * var(--zeld-text-shadow-offset)) var(--zeld-text-shadow-offset)
        var(--zelda-text-shadow-blur-radius) theme("colors.zelda.textShadow"),
      var(--zeld-text-shadow-offset) var(--zeld-text-shadow-offset)
        var(--zelda-text-shadow-blur-radius) theme("colors.zelda.textShadow");
  }

  .sheikah-underline {
    background-image: url("/images/zelda/pad-text.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 25%;
    padding-bottom: 0.5rem;
    text-decoration: none;
  }

  /* https://codepen.io/sosuke/pen/Pjoqqp for #00d7ff */
  .white-to-blue {
    filter: invert(100%) invert(19%) sepia(88%) saturate(1368%)
      hue-rotate(179deg) brightness(95%) contrast(101%);
  }
}
