$max-site-width: 750px;
$menu-breakpoint: 550px;

$sand: #cfbe95;
$svg-height: 70px;

$ui_background_color: rgb(248, 245, 223, 0.8);
$ui_border_radius: 3rem;
$ui_box_shadow: 0 0.75rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5);