$mobile-breakpoint: 400px;

// container for ALL group types
.image-group-container {
  display: flex;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.group-image-container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.group-image {
  object-fit: contain;
  transition: filter 1s;
}

/**********************/
/***** TWO IMAGES *****/
/**********************/

.horizontal-group {
  display: flex;
  height: 100%;
  gap: 1rem;
  justify-content: center;
  max-height: 100%;
  padding: 1rem;
  width: 100%;

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }

  .horizontal-group-image-container {
    position: relative;
    min-width: 0;
    min-height: 0;
    align-items: center;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $mobile-breakpoint) {
      // overwrite inline aspect ratio
      aspect-ratio: unset !important;
      flex: 1;
    }
  }

  .horizontal-group-image {
    object-fit: contain;
    transition: filter 1s;
  }

  .horizontal-group-image-overlay {
    align-items: center;
    color: white;
    display: flex;
    transition: opacity 1s;
    text-shadow: 1px 1px 2px black;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;
  }
}

.vertical-group {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0 1rem;
  height: 100%;

  .vertical-group-image-container {
    position: relative;
    min-width: 0;
    min-height: 0;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .vertical-group-image {
    object-fit: contain;
    transition: filter 1s;
  }

  .vertical-group-image-overlay {
    align-items: center;
    color: white;
    display: flex;
    transition: opacity 1s;
    text-shadow: 1px 1px 2px black;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;
  }
}

$hover-duration: 500ms;

.hover-group {
  position: relative;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (hover: hover) {
    &:hover {
      & .hover-image {
        opacity: 1;
        transition:
          opacity $hover-duration,
          filter 1s;
      }
    }
  }

  .hover-group-image {
    object-fit: contain;
    transition:
      opacity $hover-duration * 2,
      filter 1s;
  }

  .hover-image {
    opacity: 0;
    object-fit: contain;
    transition:
      opacity $hover-duration,
      filter 1s;
    pointer-events: none;
  }

  .hover-group-image-overlay {
    align-items: center;
    color: white;
    display: flex;
    transition: opacity 1s;
    text-shadow: 1px 1px 2px black;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;
  }

  & .overlay-visible ~ .hover-image {
    filter: blur(10px);
    transition:
      opacity $hover-duration,
      filter 1s;
  }
}

/************************/
/***** THREE IMAGES *****/
/************************/

.pyramid-group {
  display: grid;
  flex: 1;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  max-height: 100%;

  .pyramid-group-image {
    object-fit: contain;
    transition: filter 1s;
  }

  .pyramid-group-image-overlay {
    align-items: center;
    color: white;
    display: flex;
    transition: opacity 1s;
    text-shadow: 1px 1px 2px black;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;

    // hide on mobile since the two bottom images are so small.
    // maybe in the future it could trigger an overlay
    // on the whole slide or something.
    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

/***********************/
/***** FOUR IMAGES *****/
/***********************/

.square-group {
  display: grid;
  flex: 1;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  max-height: 100%;

  .square-group-image {
    object-fit: contain;
    transition: filter 1s;
  }

  .square-group-image-overlay {
    align-items: center;
    color: white;
    display: flex;
    transition: opacity 1s;
    text-shadow: 1px 1px 2px black;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;

    // hide on mobile since the images are so small.
    // maybe in the future it could trigger an overlay
    // on the whole slide or something.
    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}
