$mobile-breakpoint: 400px;

.image-group-container {
  display: flex;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.group-image-container {
  position: relative;
}

.group-image {
  object-fit: contain;
}

/**********************/
/***** TWO IMAGES *****/
/**********************/

.default-group {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-height: 100%;

  @media screen and (max-width: $mobile-breakpoint) {
    display: grid;
    flex: 1;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, 1fr));
    max-height: 100%;
  }
}

.default-group-image-container {
  position: relative;
  min-width: 0;
  min-height: 0;

  @media screen and (max-width: $mobile-breakpoint) {
    // overwrite inline aspect ratio
    aspect-ratio: unset !important;
  }
}

$hover-duration: 500ms;

.hover-group {
  position: relative;
  min-width: 0;
  min-height: 0;

  &:hover {
    & .hover-image {
      opacity: 1;
      transition: opacity $hover-duration;
    }
  }
}

.base-image {
  object-fit: contain;
  transition: opacity $hover-duration * 2;
}

.hover-image {
  opacity: 0;
  object-fit: contain;
  transition: opacity $hover-duration;
}

/************************/
/***** THREE IMAGES *****/
/************************/

.pyramid-group {
  display: grid;
  flex: 1;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  max-height: 100%;
}

/***********************/
/***** FOUR IMAGES *****/
/***********************/

.square-group {
  display: grid;
  flex: 1;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  max-height: 100%;
}
