@config "../../../config/tailwind.notebook.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilites {
  .paper-bg {
    background: linear-gradient(
        to right,
        transparent theme("spacing.red-line-padding"),
        theme("colors.red-line") theme("spacing.red-line-padding")
          calc(theme("spacing.red-line-padding") + 1px),
        transparent theme("spacing.red-line-padding")
      ),
      linear-gradient(to bottom, white 0 4rem, transparent 4rem),
      repeating-linear-gradient(
        to bottom,
        white 0 theme("spacing.line-height"),
        theme("colors.blue-line") theme("spacing.line-height")
          calc(theme("spacing.line-height") + 1px),
        white calc(theme("spacing.line-height") + 1px)
      );
    padding: calc(2 * (1px + theme("spacing.line-height"))) 1rem
      theme("spacing.line-height")
      calc(theme("spacing.red-line-padding") + 0.5rem) !important;
    /* box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3); */
    color: black;
    line-height: calc(theme("spacing.line-height") + 1px);
    box-shadow:
      inset 0 0 0.25rem 0.1rem rgba(0, 0, 0, 0.3),
      0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.3);
  }
}
